.container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.row-1 {
  display: flex;
}

.row-2 {
  display: flex;
}

.input-1 {
  flex-grow: 1;
}

.input-2 {
  flex-grow: 1;
}

input {
  width: 100%;
  border-color: #bdc7d8;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
}
